html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
p,
ul,
blockquote {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
}